@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

body {
  background-color: #dfe9f5;
  font-family: 'Inter', sans-serif;
}

.box {
  border-radius: 12px;
}
